
.node__meta,.statistics-counter,
.node__submitted,.viewsreference--view-title{
	display: none !important;
}

/*Menu Section Start*/
.role-administrator .dialog-off-canvas-main-canvas{
    width: 100%;
    position: absolute;
    top: 80px;
}
.region-primary-menu{
    width: 100%;
}
.role-administrator .gtco-nav{
    top:80px;
    z-index: 490;
}
.role-administrator .region-content{
    position: relative;
    top: 75px;
    margin-bottom: 75px;
    overflow: hidden; 
}

.role-administrator .gtco-nav-toggle {
    top: 90px;
}

/*Accordion section start*/

.ui-accordion-header {
    background: #fff;
    margin-bottom: 20px !important;
    color: #000;
    font-size: 18px;
    padding: 20px !important;
    position: relative !important;
    cursor: pointer !important;
}
.ui-accordion-header-icon{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-family: "Font Awesome 5 Free";
    text-rendering: auto;
    line-height: 1;
    content:"\f067";
    font-weight: 900;
    position: absolute;
    top: 15px;
    right: 20px;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active,
.ui-button.ui-state-active:hover{
    border: 1px solid #cccccc !important;
}
.ui-accordion-header-active{
    
    color: #FF5126;
    margin-bottom: 0px !important;
}
.ui-accordion-content-active{
    margin-bottom: 20px; 
}
.gtco-accordion .gtco-accordion-heading h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #brand-primary;
}
.gtco-accordion .gtco-accordion-heading .icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gtco-accordion .gtco-accordion-content {
  border-top: 1px solid #e6e6e6;
  display: none;
}
.gtco-accordion .gtco-accordion-content .inner {
  padding: 20px;
}
.gtco-accordion.active .icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.gtco-accordion.active h3 {
  color: #FF5126;
}
/*Accordion section end*/

/* page not found */
#not-found-section {
    padding: 100px 0px 100px;
}

.not-found{
  height: 650px !important;
}

.not-found-body {
    width: 70%;
    margin: auto;
}

.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}

.not-title {
    border: 2px solid #648bfb !important;;
    padding: 40px 50px;
    width: 45%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

.not-title h1 {
    font-size: 125px;
    font-family: monospace;
    color: #648bfb !important;
}

.not-title h2 {
    font-size: 25px;
    margin: 0px;
    color: #648bfb !important;
}
.not-p{
    margin-bottom: 20px !important;
}

@media (min-width: 320px) and (max-width: 480px){
    .not-title h1 {
        font-size: 92px !important;
        margin: 0px !important;
        color: #648bfb !important !important;
    }
    .not-title h2 {
        font-size: 22px !important;
        margin: 0px !important;
        color: #648bfb !important !important;
    }
    .not-title {
        border: 2px solid #648bfb !important !important;
        padding: 10px 20px 30px 20px !important;
        width: 100% !important;
        margin: auto !important;
        margin-bottom: 40px !important;
        border-radius: 10px !important;
     }
}

@media (min-width: 481px) and (max-width: 768px) {
    .not-title h1 {
        font-size: 92px !important;
        margin: 0px !important;
        color: #648bfb !important !important;
    }
    .not-title h2 {
        font-size: 22px !important;
        margin: 0px !important;
        color: #648bfb !important !important;
    }
    .not-title {
        border: 2px solid #648bfb !important !important;
        padding: 30px 50px !important;
        width: 100% !important;
        margin: auto !important;
        margin-bottom: 40px !important;
        border-radius: 10px !important;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #648bfb !important !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #648bfb !important !important;
}
.not-title {
    border: 2px solid #648bfb !important !important;
    padding: 40px 50px 30px 50px !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
/* end page not found */

/* User login Section Start */
#user-login {
    max-width: 45%;
    margin: auto;
    padding: 20px 40px 40px;
    border: 2px solid #648bfb !important;
    margin-bottom: 40px; 
    margin-top: 80px;
    overflow: hidden;
}

.login-text .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.not-found-body a,
.login-button a{
    text-decoration: none !important;
    font-weight: 600 !important;    
}
.not-found-body a,
.login-button a,
.path-user input[type="submit"] {
    font-size: 18px;
    padding: 13px 51px;
    border-radius: 34px;
    letter-spacing: 1px;
    width:auto;
    border:none;
    font-weight:bolder;
    background-color: #648bfb !important;
    color: #fff;
}
.login-button a{
    padding: 18px 51px;
} 
.not-found-body a:hover,
.login-button a:hover,
.path-user input[type="submit"]:hover{
    background-color: #648bfb !important;
    opacity: 0.78;
    transition: 0.6s;
}

.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
    text-align: center;
}
.login-button .form-actions{
    display: inline-flex;
}
#user-register-form , #user-pass{
    max-width: 60%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    border: 2px solid #648bfb !important;
    padding: 20px 20px 40px;
    overflow: hidden;
}

#user-register-form .js-form-item {
    margin-bottom: 20px !important;
}
#user-register-form .image-widget-data input[type="file"]::-webkit-file-upload-button {
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 15px;
    letter-spacing: 1px;
    width:auto;
    border:none;
    font-weight:bolder;
    background-color: #648bfb !important;
    color: #fff;
}
#user-register-form select{
    background-color: #648bfb !important;
    color: #fff;
    border-radius: 5px;
}
#user-register-form .image-widget-data input[type="submit"]{
    width: fit-content !important;
}
#user-register-form .js-form-item input:not([type="checkbox"]),
#user-pass .js-form-item input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 610px) {
    #user-login {
        max-width: 95% !important;
        margin: auto;
        border: 2px solid #648bfb !important;
        margin-bottom: 40px;
        margin-top: 80px;
        overflow: hidden;
    }
    #user-register-form , #user-pass{
        max-width: 95% !important;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 40px;
        border: 2px solid #648bfb !important;
        padding: 20px 20px 40px;
        overflow: hidden;
    }
    .blog-detail-body {
        padding: 50px;
    }
}
@media (min-width: 611px) and (max-width: 992px) {
    #user-login {
        max-width: 60% !important;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 40px;
        overflow: hidden;
    }

    #user-register-form , #user-pass{
        max-width: 95% !important;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 40px;
        border: 2px solid #648bfb !important;
        padding: 20px 20px 40px;
        overflow: hidden;
    }
}
@media screen and (max-width: 400px){
    .path-user #user-register-form input[type="submit"] {
        padding: 13px 20px;
    } 
}
/* User login Section End */
