<div id="gtco-contact" data-section="Contact" class="gtco-cover gtco-cover-xs" style="background-image:url({{content.field_background_image.0}});">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row text-center">
			<div class="display-t">
				<div class="display-tc">
					<div class="col-md-12">
						<h3>{{content.field_description.0}} <a href="mailto:{{content.field_email.0}}">{{content.field_email.0}}</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>