<div id="gtco-hero" class="blog-detail js-fullheight"  data-section="Home">
	<div class="flexslider js-fullheight">
		<ul class="slides">
	   	<li style="background-image: url({{ content.field_background_image.0}});">
	   		<div class="overlay"></div>
	   		<div class="container">
	   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
	   				<div class="slider-text-inner">
	   					<h2>{{content.field_title.0}}</h2>
	   				</div>
	   			</div>
	   		</div>
	   	</li>
	   </ul>
	</div>
</div>