<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	<div class="feature-center">
		<span class="icon">
			{{content.field_icon.0}}
		</span>
		<span class="counter js-counter" data-from="0" data-to="{{content.field_counts.0}}" data-speed="5000" data-refresh-interval="50">1</span>
		<span class="counter-label">{{content.field_title.0}}</span>

	</div>
</div>