	<div class="col-md-6">
		<div class="gtco-accordion gtco-accordion-click">
			<div class="gtco-accordion-heading">
				<div class="icon"><i class="fas fa-plus"></i></div>
				<h3>{{content.field_title.0}}</h3>
			</div>
			<div class="gtco-accordion-content">
				<div class="inner">
					<p>{{content.field_description.0}}</p>
				</div>
			</div>
		</div>
	</div>