<div class="gtco-section" id="gtco-services" data-section="Services">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-6">
				<div class="gtco-heading">
					<h2 class="gtco-left">{{content.field_title.0}}</h2>
					<p>{{content.field_description.0}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			{{content.field_service}}	
		</div>
	</div>
</div>