	<div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{content.field_title.0}}</h2>
					<p>{{content.field_description.0}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{content.field_subscribe_form}}
				</div>
			</div>
		</div>
	</div>