<div class="col-md-4">
	<a href="{{file_url(content.field_image['#items'].entity.uri.value)}}" class="gtco-card-item image-popup" title="{{content.field_project_name.0}}">
		<figure>
			<div class="overlay"><i class="fas fa-plus"></i></div>
			<img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
             class="img-responsive" 
             alt="{{ content.field_image['#items'].alt }}" 
             title="{{ content.field_image['#items'].title }}">
		</figure>
	</a>
</div>