<div class="col-md-4">
  <a href="{{fields.view_node.content}}" class="gtco-card-item has-text">
    <figure>
      <div class="overlay"><i class="fas fa-plus"></i></div>
      {{fields.field_image.content}}
    </figure>
    <div class="gtco-text text-left">
      <h2>{{fields.title.content}}</h2>
      <p>{{fields.body.content}}</p>
      <p class="gtco-category">{{fields.created.content}} by {{fields.uid.content}}</p>
    </div>
  </a>
</div>