
<li style="background-image: url({{fields.field_image.content}});">
	<div class="overlay"></div>
	<div class="container">
		<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
			<div class="slider-text-inner">
				<h2>{{fields.title.content}}</h2>
				<p>{{fields.field_link.content}}</p>
			</div>
		</div>
	</div>
</li>