<div id="gtco-blog" data-section="Blog">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>{{ view.getTitle() }}</h2>
        {% if header %}
          <p>{{header}}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      {% if rows %}
        {{rows}}
      {% endif %}
    </div>
  </div>
</div>