{% extends "block.html.twig" %}
{#
/**
 * @file
 * Bootstrap Business's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
      	<a href="{{ url('<front>') }}">
 		  {% if site_name %}
 		  		{{ site_name }}<em>.</em>
		  {% else %}
		    	<img src="{{ site_logo}}" alt="{{site_name}}" class="img-fluid" title="{{site_name}}">
		  {% endif %}
    	</a>
{% endblock %}
