
{{content.field_banner}}

<!-- Main -->
<main role="main">
  <!-- Latest Project -->
  <div id="gtco-latest-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img src="{{file_url(node.field_image.entity.uri.value)}}" 
            alt="{{ content.field_image['#items'].alt }}" 
            class="img-fluid" 
            title="{{ content.field_image['#items'].title }}">
            <br class="fh5co-spacer fh5co-spacer-xxs">
            <h2 class="fh5co-heading-with-border"><span class="fh5co-border"></span>{{node.title.value}}</h2>
            
            <h5><span class="fh5co-blog-date">
              <i class="fa fa-user"></i> {{ node.Owner.name.value }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa fa-calendar"></i> {{ node.created.value|date("d.m.Y")  }}
             </span></h5>
             {{content.body}}
        </div>
      </div>
    </div>
  </div>
  <!-- Latest Project -->
  <hr class="fh5co-spacer fh5co-spacer-sm">
</main>
<!-- Main -->
