{# <div class="gtco-loader"></div> #}
  
  <div id="asymmetry-page">
  <nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div id="gtco-logo">
            {{page.logo}}
          </div>
        </div>
        <div class="col-xs-10 col-sm-9">
          {{page.primary_menu}}
        </div>
      </div>
      
    </div>
  </nav>


{% set url = url('<current>') %}
{% if 'user' in url|render|render %}  
  <div id="gtco-hero" class="blog-detail js-fullheight"  data-section="home">
    <div class="flexslider js-fullheight">
      <ul class="slides">
        <li style="background-image: url({{banner_image}});">
          <div class="overlay"></div>
          <div class="container">
            <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
              <div class="slider-text-inner">
                <h2>{{page['#title']}}</h2>
              </div>
            </div>
          </div>
        </li>
       </ul>
    </div>
  </div>
{% endif %} 

  {{page.content}}

  <footer id="gtco-footer" role="contentinfo">
    <div class="gtco-container">
      
      <div class="row copyright">
        <div class="col-md-12">
          <p class="pull-left">
            <small class="block">&copy; 2018 Free HTML5. All Rights Reserved.Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a>.</small> 
            <small class="block">Theme By <a href="https://www.drupaldeveloperstudio.com" target="_blank" class="font_14_roboto">Drupal Developers Studio</a>. A Division of <a href="https://www.youngglobes.com" target="_blank" class="font_14_roboto">Young Globes.</a></small>
          </p>
          <p class="pull-right">
            <ul class="gtco-social-icons pull-right">
              <li><a href="{{twitter}}"><i class="fab fa-twitter"></i></a></li>
              <li><a href="{{facebook}}"><i class="fab fa-facebook"></i></i></a></li>
              <li><a href="{{linkedin}}"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="{{dribbble}}"><i class="fab fa-dribbble"></i></a></li>
            </ul>
          </p>
        </div>
      </div>

    </div>
  </footer>
</div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fas fa-arrow-up"></i></a>
  </div>